<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>
    <div class="board">
        <div class="board-bar">
            <p class="board-name" i18n>Board Name</p>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let item of tasks.columns" >
                    <div class="column-title" i18n>{{item.title}}</div>
                    <div class="task-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="item.tasks" (cdkDropListDropped)="drop($event)">
                        @for(item of item.tasks; track item){<div class="task" cdkDrag>
                           {{item}}
                        </div>}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
